<section class="py-2 text-white">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Web developemnt ebook
            </h1>
            <p class="lead">Learn web development front to back</p>


            <form action="/charge" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{stripePublishableKey}}"
                    data-amount="2500" data-name="Web Development Ebook" data-description="Book is written by Shayon"
                    data-image="img/marketplace.png" data-locale="auto">
                    </script>

                {{!-- CUSTOMIZE BUTTON --}}
                <script>
                    //HIDE THE BUTTON
                    document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                </script>

                {{!-- ADD OUT OWN BUTTON --}}
                <button type="submit" class="btn btn-outline-success text-white btn-lg">Purchase for $25</button>
            </form>
        </div>
        <div class="col-md-6 text-center">
            <img src="/img/book.jpg" alt="img" class="img-fluid">
        </div>
    </div>
</section>