<section class="py-2 text-white">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Web developemnt ebook
            </h1>
            <p class="lead">Learn web development front to back</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="/img/book.jpg" alt="img" class="img-fluid">
        </div>
    </div>
</section>